.todo-cards{

  border: 1px solid #ccc;
  margin: 20px;
  padding: 5px 20px;
  border-radius: 6px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
 display: flex;
 align-items: center;
position: relative;

}


.todo-icon{
  font-size: 40px;
  margin: 0px 20px; 
}

.todo-priority{
  background-color: black;
  color: white;
  padding: 5px 10px;
  min-width: 50px;
  text-align: center;
  border-radius: 50px;
  font-size: 15px;
  display: flex;
  margin-left: auto;
}

.todo-created-at{
  position: absolute;
  bottom: 10px;
  right: 10px;
}